{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fortibank</title>

    <link rel="shortcut icon" href="{%static 'assets/images/AB-FortiBank.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugin/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugin/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugin/slick.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/arafat-font.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugin/animate.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <div class="gif-loader">
        <img src="{% static 'assets1/images/FortiBANK.gif' %}" alt="Cargando...">
    </div>
    <div class="preloader" id="preloader"></div>
    <a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
    <!-- header-section start -->
    <header class="header-section">
        <div class="right-area header-action d-flex align-items-center max-un">
            {% if request.user.is_authenticated %}
            <a href="/admin" class="login cmn-btn">Administrador</a>
            <a href="{% url 'userauths:sign-out' %}" class="login cmn-btn">Cerrar Sesión</a>
            {% else %}
            <!-- <a href="{% url 'userauths:sign-in' %}" class="login">Iniciar sesión <i class="fas fa-caret-right"></i></a>
            <a href="{% url 'userauths:sign-up' %}" class="cmn-btn">Sign Up
                <i class="fas fa-caret-right"></i>
            </a> -->
            {% endif %}
            <!-- alert end -->
        </div>
    </header>

    {% block content %}

    {% endblock content %}

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/fontawesome.js' %}"></script>
    <script src="{% static 'assets/js/plugin/slick.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/counter.js' %}"></script>
    <script src="{% static 'assets/js/plugin/waypoint.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/plugin/plugin.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    <style>
        .gif-loader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff; 
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999; 
        }

        .gif-loader img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>

    <script>
        const gifLoader = document.querySelector('.gif-loader');
        const tiempoMostrarGif = 2000; 
        setTimeout(() => {
            gifLoader.style.display = 'none';
        }, tiempoMostrarGif);
    </script>
</body>
</html>