{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
    <!-- Login Reg start -->
    <section class="login-reg">
        <div class="overlay pt-120">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6 order-xl-0 order-1">
                        <div class="sec-img d-rtl">
                            <img src="{% static 'assets/images/login-reg-bg.png' %}" class="max-un" alt="image">
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="section-text text-center">
                            <h5 class="sub-title">Cuenta</h5>
                            <h2 class="title">Bienvenido a Forti Bank</h2>
                            <p class="dont-acc">¿Ya tienes cuenta? <a href="{% url 'userauths:sign-in' %}">Inicia sesión</a></p>
                        </div>
                        
                        <!-- Bloque de mensajes de alerta -->
                        {% if messages %}
                            <div class="alert alert-dismissible">
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <div class="alert-danger alert">{{ message }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-input">
                                        <label for="">Nombre de usuario</label>
                                        {{ form.username }}
                                    </div>
                                    <div class="single-input">
                                        <label for="">Número de telefono</label>
                                        {{ form.phone_number }}
                                    </div>
                                    <div class="single-input">
                                        <label for="">Contraseña</label>
                                        {{ form.password1 }}
                                        <p style="opacity: 0.7;">La contraseña debe contener 8 dígitos incluyendo números y letras</p>
                                    </div>
                                    <div class="single-input">
                                        <label for="">Confirmar contraseña</label>
                                        {{ form.password2 }}
                                    </div>
                                    <button class="cmn-btn w-100" type="submit">Registrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Reg end -->
 {% endblock content %}
